@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");


/*Variables*/
:root {
    --font-family: "Roboto", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #1a2640;
    --secondary-color: #004aad;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #def0f2;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;

}
/*variables end*/

html {
    scroll-behavior: smooth;
}

/* CSS resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav h1{
    font-weight: var(--bold-font);
    color: var(--primary-color);
}
nav {
    box-shadow: 0 3px 5px var(--primary-shadow);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }

  nav ul li {
    font-weight: var(--bold-font);
  }

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    max-width: 68.75rem;
    margin: auto;
    padding: 20px;
    flex-wrap: wrap;
}

.hero img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}


.bio {
    flex: 1;
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.bio-more {
  padding-top: 20px;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header {
    margin-bottom: 1rem;
    text-align: center;
}

.skill {
    padding: 2%;
}
.skill-sub-header {
    padding: 5px;
}

.skill-wrapper {
    border-radius: 10px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.edu-work {
    padding: 2%;
}

.work-list {
    list-style-type: disc;
}

.hobby {
    display: flex; 
    justify-content: space-between;
}

.project-pic {
    align-items: center;
    width: 45%;
    height: 45%;
    text-align: center;
}

.card {
   border: 1px solid var(--secondary-color);
   flex-wrap: wrap;
   padding: 20px;
   text-align: center;
   align-items: center;
   border-radius: 11px;
   box-shadow: 0 3px 10px var(--primary-shadow);
   margin: 20px;
}

.card-title {
  padding-top: 10px;
}

.projects {
  padding: 20px;
}

.project-pic {
  border-radius: 5px;
}

.project-title {
  text-align: center;
}

/* General styling for the contact section */
.contact {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }
  
  /* Container for the contact form */
  .contact-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px var(--primary-shadow);
    max-width: 600px;
    width: 100%;
  }
  
  /* Form title styling */
  .contact-form h2 {
    text-align: center;
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 30px;
    font-weight: var(--bold-font);
  }
  
  input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 2px outset var(--primary-color);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    align-items: center;
  }

 .contact-form label {
    color: var(--primary-color);
    font-weight: var(--bold-font);
 }

 .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    transition: var(--transition);
    font-weight: var(--bold-font);
    color: var(--primary-color);
 }

 .submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
    color: #fff;
 }

 .socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
 }

 .socicon {
    width: 50px;
    height: 50px;
    padding: 5px;
    animation: fadeIn 5s;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
 }

 footer {
    background-color: var(--bg-color);
    padding: 20px;
    text-align: center;
    margin: 32px 0 0;
 }

 /* Media queries for responsiveness */
@media screen and (max-width: 720px) {
    nav {
      padding: 1.5rem 1rem;
    }
    .hero {
       
        flex-direction: column;
        gap: 5rem;
        padding: 40px;
      }
    
      .hero img {
        height: 200px;
        width: 400px;
      }
    
      .bio {
        margin-top: -7rem;
        width: 20.5rem;
      }
    
      .icon {
        width: 5.875rem;
        height: 5.25rem;
      }
    
      .col-sm-6 {
        flex-direction: column;
      }
    
      .card {
        width: 20.875rem;
      }
    
      .contact-form{
        max-width: 23.75rem;
      }
}

